<div class="container">
  <div class="row justify-content-center">
    <div class="card w-50">
      <div class="card-body">
        <form [formGroup]="editorForm" class="form">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" formControlName="name" class="form-control">
          </div>
          <div class="form-group">
            <label for="name">Instagram</label>
            <input type="text" formControlName="instagramId" class="form-control">
          </div>
          <div class="form-group">
            <label for="name">Image URL</label>
            <input type="text" formControlName="imgUrl" class="form-control">
          </div>
          <button type="submit" class="btn btn-primary" (click)="save()">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>
