<!-- <div>
  <div>
    {{ member.name }} is here !
  </div>
  <img [src]="member.imgUrl" />
</div> -->
<!-- <div class="row col-8 offset-2"> -->
  <!-- <div class="card col-4" (click)="onClick()"> -->
  <!-- <div (click)="onClick()"> -->
  <div [routerLink]="'/instagram/' + member.instagramId" >
    <img class="card-img-top" [src]="member.imgUrl" [alt]="member.name">
    <div class="card-body">
      <h5 class="card-title">{{ member.name }}</h5>
      <p class="card-text">
        <small class="text-muted">Last updated 3 mins ago</small>
      </p>
    </div>
  </div>
<!-- </div> -->